
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  sans-serif;
  
   
}

nav  img {
    width: 100px;
    height: 70px;
    object-fit: cover;

  }
.navegador{

    width: auto;
    color: black;
     height: 85px;
    display: flex;
    justify-content:space-around;
    background-color: #C1D0B5;
   
} 
.menu{
    align-items: center;
  

    
}
.logo{
    display: flex;
    font-family: 'Segoe UI'sans-serif;
    align-items: center;
    justify-content: start;
    font-size: 20px;
  
}

.navegador ul{
    display: flex;
    justify-content: start;
}
.sesion-compra{
   display: flex;
   justify-content: start;
   align-items: center;
   margin: 10px, 10px;
   color: black;

   
}
.buscador input{
   margin: 10px;
   border-radius: 200px ;
   width: 200px;
   height: 50px;
}
.iniciar-sesion i{
    color: black;
}
.comprar i{
    color: black;
}

.fa-solid{
font-size: 35px;
  margin: 20px;
}
.fa-solid:hover{
    color: white;
    font-size: 40px;
    transition: 0.3s;

    

}

.comprar i:hover{
    color: white;
    font-size: 40px;
    transition: 0.3s;
}


nav li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin: 30px;
  
}

nav li a:hover{
    color: white;
    font-size: 30px;
    transition: 0.3s;
}

ul {
    list-style: none;


}
.titulo-producto{

height: 50px;
width: 100%;
   
}
.titulo-producto h3 {
   align-items: center;
   text-align: center;
   margin: 20px;
   font-size: 50px;

    
    
}
.productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
    
    

  
}
.producto{
    padding: 20px;
    margin: 40px 20px;
    border-radius: 5px;
    width: auto;
    height: 600px;
   

}
.producto h3{
    display: flex;
    justify-content: center;
}
.producto a img{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;

}


footer {
   
    background-color: #C1D0B5;
    margin: none;
}

main img {
    width: 100%;
}

.nosotros p {
    text-align: center;
    font-size: 25px;
    margin-left: 300px;
    margin-right: 300px;
}
 .producto{
    width: 300px;
    border: 2px inset #D6E8DB;
 }
.nosotros img {
    width: 800px;
    height: 400px;
    margin-right: 25%;
    margin-left: 25%;
    object-fit: cover;


}

article h2 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}


.producto h3 {
    font-size: 25px;
}

.producto a {
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.pie-pagina h4 {
    font-size: 15px;
}

.pie-pagina a {
    text-decoration: none;
    color: black
}

.pie-pagina img {
    width: 50px;
    height: 50px;
}
 .pie-pagina ul li a:hover{
    color: white;
 }
 .pie-pagina i{
    font-size: 50px;
 }

.inicio-sesion h2 {
    font-size: 50px;
    text-align: center;
}
.inicio-sesion img{
    width: 200px;
    height: 200px;
    margin-right: 40%;
    margin-left: 40%;
}
.producto button{
    border-radius: 15px ;
    width: 200px;
    background-color:#C1D0B5;
    margin: 10px ;
    font-weight: bold;
}
.article button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatsapp {
    position: fixed;
    background-color:#00d221;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 20px;
    right: 10px;
    border-radius: 60%;
    box-shadow: 5px 5px 15px 5px black;
    }
    .whatsapp i{
        font-size: 45px;
        color: white;
    
        
    }
    .whatsapp:hover{
        bottom: 30px;
        width: 85px;
        height: 85px;
        transition: 0.5s;
    }
 footer {
    width: 100%;
    color: black;
     height: 250px;
    display: flex;
    justify-content: space-around;
    background-color: #C1D0B5;
   font-size: 18px;
   align-items: center;

 }
footer .redes ul li a i {
    display: flex;
    flex-direction: column;
    
   
}
  

