/* TITULO DE CATEGORIAS*/
.cont-categorias h1{

    @extend %h1;
}

/* CONTENIDO PAGINA CATEGORIAS*/
.categorias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;


    
    .categoria {
        width: 1000px;
        height: 500px;
        margin: 50px ;
        position: relative;
        transition: 5s;
        overflow: hidden;
        border: lightgrey solid 1px;
        border-radius: $border ;
        img{
            width: 100%;
       
        }
        &::before{
            content: "";
            width: 2000px;
            height: 2000px;
            background-color: lightgrey ;
            position: absolute;
            opacity: 0.7;
            top: -100px;
            left: -2000px;
            transform: rotateZ( 45deg);
            overflow: hidden;
            transition: 5s;
           
            
              }
                &:hover::before{
               top: -200px;
               left: -400px;
            
              }
              .info-categoria {
                width: inherit;
                height: inherit;
                position: absolute;
                left: -80px;
                color: white;
                text-shadow: 10px 10px 10px #0e0e0e;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                opacity: 0;
                top: -25px;
                   font-size: auto;
                &:hover{
                    top: 0;
                    opacity: 1;
                    transition: 0.5s;
                      cursor: pointer;
                }
                h3 {
                    text-align: center;
                    font-size: 70px;
                   
                }
            }
         }    
 
      }

      